:root {
    --body_bgr: #FFFFFF;
    --main-color: #0000FF;
    --cloud: #F4F4FD
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset */
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
}

img{
    display: block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body{
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: var(--body_bgr);
}

.middle_header{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.11;
    text-transform: capitalize;  
    margin-bottom: 72px;
}
.small_header{
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
}
.nav-link:hover {
    color: #404BBF;    
}

.nav-link:focus {
    color: #404BBF;    
}

.nav-contact{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em; 
    color: #434455;
}

.nav-contact:focus{
    color: #404BBF;
}

.nav-contact:hover{
    color: #404BBF;
}

.address{
    font-style: normal;
}

.address-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 40px;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.btn-hero{
    cursor: pointer;
    /* IRIS */
    background: #4D5AE5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto 0 auto;
}
.btn:focus{
    background: #404BBF;
}
.btn:hover{
    background: #404BBF;
}

.logo{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    /* IRIS */
    color: #4D5AE5; 
    margin-right: 76px;
    display: inline-block;
}

.logo-second{
    color: #2E2F42; 
}

.link{
    text-decoration: none
}

.list{
    list-style: none
}

.hero-section{
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF; 
    max-width: 496px;      
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    letter-spacing: 0.02em;
    color: #434455;
}
.team-description{
        text-align: center;
}
.summary{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}
.logo-footer{
    margin-bottom: 16px;
}
.footer{
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-third{
    color: #f4f4fd;
}
.btn-portfolio{
    color: #4D5AE5;
    font-family: inherit;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #F4F4FD;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}
.btn-portfolio:focus{
    color: #FFFFFF;
    background: #404BBF;
    border: 1px solid transparent
}
.btn-portfolio:hover{
    color: #FFFFFF;
    background: #404BBF;
    border: 1px solid transparent
}
.team-section{
    background-color: #F4F4FD;
    background: var(--cloud);
    padding: 120px 0;
}
.team-item{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card{
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 32px 16px;    
}

.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   width: 1158px; /*+30px*/ 
}

.header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
}

.header-nav{
    display:flex;
    align-items: center;
}
.header-list{
    display:flex;
    align-items: center;
    gap: 40px;
}
.strategy-container{
    display: flex;
    align-items: center;
    gap: 24px;
}
.doing-container {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 72px;
}
.doing-elemment{
    width: 360px;
}
.strategy-element{
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.strategy-section{
    padding: 120px 0;
}
.doing-section{
    padding-bottom: 120px;
}
.team-container{
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 72px; 
       
}
.team-header{
    text-align: center;
    margin-bottom: 8px
}
footer-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.portfolio-filters {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}
.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding-bottom: 120px;
}
.portfolio-card{
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}
.empty {
}
